<!DOCTYPE html>
<html>
<head>
	<title>NowTellEm!</title>
	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>

	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-32590350-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
	
</head>
<body class="center">
	<div class="left navbar navbar-fixed-top" style="background-color: white; background-image: none; margin-top: 10px">
        <a href="/"><img src="/assets/NowTellEmLogo.png"></a>
		<% if session[:user_id] %>
			<a href="<%= log_out_url %>">Log out</a>
		<% else %>
			<a href="<%= log_in_url %>">Log in</a>
		<% end %>
	 </div>
	
	<%= yield %>

	<br/>
	<a href="http://twitter.com/home?status=@NowTellEm+">Feedback</a>
	</body>
</html>
